@{
    ViewBag.Title = ConfigSetting.SiteName + "媒体资源";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<div class="nav-bread">
    <a class="nav-bread-home" href="/"><i class="icon-maitonn icon-home"></i></a>&gt;
        <a href="/list-0-441-0-0-0-0-0-0-0-p_1">商住楼宇</a> &gt;
        <strong>液晶电视</strong>
</div>
<div class="list-wrap">
    <div class="list-search">
        <div class="list-search-wrap clearfix">
            <div class="list-search-attr clearfix">
                <div class="list-search-attr-bread clearfix">
                    <div class="list-search-attr-title">媒体类别：</div>
                    <div class="list-search-attr-all">
                        <a target="_self" class="" href="/list-0-0-0-0-0-0-0-0-0-p_1">不限</a>
                    </div>
                    <ul class="list-search-attr-list clearfix">
                        <li class="selected">
                            <span>
                                <a href="/list-0-0-0-0-0-0-0-0-0-p_1">商住楼宇</a>
                                <a class="delete" href="/list-0-0-0-0-0-0-0-0-0-p_1">×</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-442-0-0-0-0-0-0-0-p_1">社区网络</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-443-0-0-0-0-0-0-0-p_1">公共交通</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-444-0-0-0-0-0-0-0-p_1">机场媒体</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-445-0-0-0-0-0-0-0-p_1">公共场所</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-446-0-0-0-0-0-0-0-p_1">公路户外</a>
                            </span>
                        </li>
                    </ul>
                    <span class="list-search-attr-more" style="display: none">更多<i class="icon-maitonn icon-angle-down"></i></span>
                    <span class="list-search-attr-little" style="display: none">收起<i class="icon-maitonn icon-angle-up"></i></span>
                </div>
                <div class="list-search-attr-bread clearfix">
                    <div class="list-search-attr-title">媒体子类别：</div>
                    <div class="list-search-attr-all">
                        <a target="_self" class="" href="/list-0-441-0-0-0-0-0-0-0-p_1">不限</a>
                    </div>
                    <ul class="list-search-attr-list clearfix">
                        <li class="selected">
                            <span>
                                <a href="/list-0-441-0-0-0-0-0-0-0-p_1">液晶电视</a>
                                <a class="delete" href="/list-0-441-0-0-0-0-0-0-0-p_1">×</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-482-0-0-0-0-0-0-p_1">大厅海报</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-483-0-0-0-0-0-0-p_1">电梯看板</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-484-0-0-0-0-0-0-p_1">电梯门贴</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-485-0-0-0-0-0-0-p_1">地下停车场</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-486-0-0-0-0-0-0-p_1">公告栏</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-487-0-0-0-0-0-0-p_1">墙体大牌</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-488-0-0-0-0-0-0-p_1">楼顶大牌</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-489-0-0-0-0-0-0-p_1">大型LED</a>
                            </span>
                        </li>
                    </ul>
                    <span class="list-search-attr-more" style="display: none">更多<i class="icon-maitonn icon-angle-down"></i></span>
                    <span class="list-search-attr-little" style="display: none">收起<i class="icon-maitonn icon-angle-up"></i></span>
                </div>
                <div class="list-search-attr-bread clearfix">
                    <div class="list-search-attr-title">表现形式：</div>
                    <div class="list-search-attr-all">
                        <a target="_self" class="selected" href="/list-0-441-481-0-0-0-0-0-0-p_1">不限</a>
                    </div>
                    <ul class="list-search-attr-list clearfix" style="height: 58px;">
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-447-0-0-0-0-0-p_1">喷绘/写真</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-448-0-0-0-0-0-p_1">喷画灯箱</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-449-0-0-0-0-0-p_1">LED灯箱</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-450-0-0-0-0-0-p_1">大型LED电视	</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-451-0-0-0-0-0-p_1">多面翻</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-452-0-0-0-0-0-p_1">电视</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-453-0-0-0-0-0-p_1">大型看板</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-454-0-0-0-0-0-p_1">门贴</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-455-0-0-0-0-0-p_1">车身喷画	</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-456-0-0-0-0-0-p_1">灯旗</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-457-0-0-0-0-0-p_1">椅套</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-458-0-0-0-0-0-p_1">包柱</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-459-0-0-0-0-0-p_1">拉手套 </a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-460-0-0-0-0-0-p_1">车贴</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-461-0-0-0-0-0-p_1">电梯看板	</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-462-0-0-0-0-0-p_1">墙体喷漆</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-463-0-0-0-0-0-p_1">窗贴</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-464-0-0-0-0-0-p_1">投光灯</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-465-0-0-0-0-0-p_1">堆头造型</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-466-0-0-0-0-0-p_1">平面媒体</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-467-0-0-0-0-0-p_1">空中汽艇</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-468-0-0-0-0-0-p_1">霓虹灯</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-469-0-0-0-0-0-p_1">其他</a>
                            </span>
                        </li>
                    </ul>
                    <span class="list-search-attr-more" style="">更多<i class="icon-maitonn icon-angle-down"></i></span>
                    <span class="list-search-attr-little" style="display: none">收起<i class="icon-maitonn icon-angle-up"></i></span>
                </div>
                <div class="list-search-attr-bread clearfix">
                    <div class="list-search-attr-title">代理类型：</div>
                    <div class="list-search-attr-all">
                        <a target="_self" class="selected" href="/list-0-441-481-0-0-0-0-0-0-p_1">不限</a>
                    </div>
                    <ul class="list-search-attr-list clearfix">
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-470-0-0-0-0-p_1">一般代理</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-471-0-0-0-0-p_1">自有媒体</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-472-0-0-0-0-p_1">独家代理</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-473-0-0-0-0-p_1">行业代理</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-474-0-0-0-0-p_1">优势代理</a>
                            </span>
                        </li>
                    </ul>
                    <span class="list-search-attr-more" style="display: none">更多<i class="icon-maitonn icon-angle-down"></i></span>
                    <span class="list-search-attr-little" style="display: none">收起<i class="icon-maitonn icon-angle-up"></i></span>
                </div>
                <div class="list-search-attr-bread last clearfix">
                    <div class="list-search-attr-title">投放周期：</div>
                    <div class="list-search-attr-all">
                        <a target="_self" class="selected" href="/list-0-441-481-0-0-0-0-0-0-p_1">不限</a>
                    </div>
                    <ul class="list-search-attr-list clearfix">
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-475-0-0-0-p_1">天</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-476-0-0-0-p_1">周</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-477-0-0-0-p_1">月</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-478-0-0-0-p_1">季度</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-479-0-0-0-p_1">半年</a>
                            </span>
                        </li>
                        <li class="">
                            <span>
                                <a href="/list-0-441-481-0-0-480-0-0-0-p_1">年</a>
                            </span>
                        </li>
                    </ul>
                    <span class="list-search-attr-more" style="display: none">更多<i class="icon-maitonn icon-angle-down"></i></span>
                    <span class="list-search-attr-little" style="display: none">收起<i class="icon-maitonn icon-angle-up"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $.each($(".list-search-attr-list"), function (index, item) {
            var hasSelected = $(item).find('.selected').length > 0;
            if (hasSelected && $(item).height() > 58) {
                var selectItem = $(item).find('.selected');
                var top = selectItem.offset().top - $(item).offset().top;
                if (top < 58) {
                    $(item).height(58);
                    $(item).siblings(".list-search-attr-more").show();
                } else {
                    $(item).siblings(".list-search-attr-little").show();
                }
            } else if ($(item).height() > 58) {
                $(item).height(58);
                $(item).siblings(".list-search-attr-more").show();
            }
        });

        $(".list-search-attr-more").click(function () {
            $(this).siblings(".list-search-attr-list").height("auto");
            $(this).hide();
            $(this).next().show();
        })

        $(".list-search-attr-little").click(function () {
            $(this).siblings(".list-search-attr-list").height(58);
            $(this).hide();
            $(this).prev().show();
        })
    })
</script>
