@{
    ViewBag.Title = "我的帐号";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<div class="personal clearfix">
    @Html.Partial("_LeftMenu")

    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>我的帐号</h5>
            </div>
            <ul class="personal-body-list">
                <li>登录名：@CookieHelper.Email</li>
                <li>昵称：@CookieHelper.NickName</li>

            </ul>

            <div class="personal-body-bind">

                <dl class="clearfix">
                    <dt class="bind-email"><i class="icon-maitonn icon-envelope"></i></dt>
                    <dd class="bind-desc"><span class="ok">邮箱绑定</span>已绑定邮箱：shenhaijunmail@163.com</dd>
                </dl>
            </div>
        </div>

    </div>
</div>
