@{
    ViewBag.Title = "邮箱绑定成功";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="reg-content">
    <div class="main">
        <div class="main-title">
            <h6>
                <i class="icon-maitonn icon-caret-right"></i>邮箱绑定成功</h6>
        </div>

        <div class="main-success mb20 mt20 ml60">
            <i class="icon-maitonn icon-ok-circle"></i>
            <p>
                <strong>恭喜</strong> ，@CookieHelper.NickName ,您的邮箱已成功绑定！您已经开通以下功能
            </p>
        </div>
        <div class="main-service">
            <div class="nav-block-item viewport-flip  ">
                <span class="full-block bg-color-pink flip in">
                    <i class="icon-maitonn icon-desktop"></i>
                    <div class="content">户外资源</div>
                </span>
                <span class="full-block bg-color-pink flip out">
                    <h4>每天数百条高品质户外资源信息第一时间为您推送</h4>
                </span>
            </div>
            <div class="nav-block-item viewport-flip ">
                <span class="full-block bg-color-green flip in">
                    <i class="icon-maitonn icon-paste"></i>
                    <div class="content">方案制作</div>
                </span>
                <span class="full-block  bg-color-green flip out">
                    <h4>智能方案生成<br />
                        轻松一键打印</h4>
                </span>
            </div>
            <div class="nav-block-item viewport-flip ">
                <span class="full-block bg-color-blueDark flip in">
                    <i class="icon-maitonn icon-phone-sign"></i>
                    <div class="content">媒体通讯录</div>
                </span>
                <span class="full-block bg-color-blueDark flip out">
                    <h4>随时随地收藏媒体信息，时刻关注媒体动态</h4>
                </span>
            </div>
            <div class="nav-block-item viewport-flip ">
                <span class="full-block bg-color-yellow flip in">
                    <i class="icon-maitonn icon-search"></i>
                    <div class="content">媒体搜索引擎</div>
                </span>
                <span class="full-block bg-color-yellow flip out">
                    <h4>强大的智能搜索引擎，好媒体一网打尽</h4>
                </span>
            </div>
        </div>

        <div class="main-success"><a class="btn btn-success ml10 fg-color-white" href="@Url.Action("index", "list")" >立即搜索媒体资源</a></div>
        <div class="clearfix">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.nav-block-item').hover(function () {
                var first = $(this).find('.full-block:first');
                first.removeClass('in').addClass('out');
                first.siblings().addClass('in').removeClass('out');
            }, function () {
                var first = $(this).find('.full-block:first');
                first.addClass('in').removeClass('out');
                first.siblings().removeClass('in').addClass('out');
            })
        })
    </script>
}