html {
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


.container {
    width: 990px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
}

.header-logo {
    width: 720px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 30px;
}

.search-box {
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

    .search-box #search {
        width: 405px;
        height: 22px;
        font: 16px/22px arial;
        margin: 5px 0 0 7px;
        background: #fff;
        outline: 0;
        -webkit-appearance: none;
        border: 0;
    }

    .search-box .input-wrapper {
        width: 418px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;
        background: url(images/search-bg.png) no-repeat -304px 0;
        border: 1px solid #b6b6b6;
        border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
        vertical-align: top;
    }

.button-wrapper {
    width: 97px;
    height: 34px;
    display: inline-block;
    background: url(images/search-bg.png) no-repeat -202px 0;
    z-index: 0;
    vertical-align: top;
}

.btn-search {
    width: 95px;
    height: 32px;
    padding-top: 2px\9;
    font-size: 14px;
    background: #ddd url(images/search-bg.png);
    cursor: pointer;
    border: 0;
}

.btn-search-hover {
    background-position: -100px 0;
}
