@{
    ViewBag.Title = "Index";
}
<div class="search">
    <input type="text" id="search" name="search" />
    <button>搜索</button>
</div>

<div class="nav-block">
    <div class="nav-block-item">
        <div class="brand"></div>
        <div class="content"></div>
    </div>
</div>
