@{
    ViewBag.Title = ConfigSetting.SiteName + "帮助中心";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
<div class="nav-bread">
    <a class="nav-bread-home" href="/"><i class="icon-maitonn icon-home"></i></a>&gt;
        <a href="/list-0-441-0-0-0-0-0-0-0-p_1">帮助中心</a> &gt;
        <strong>常见问题</strong>
</div>
<div class="help-main clearfix">
    <div class="help-left">
        <dl>
            <dt>加盟我们</dt>
            <dd><a class="" href="/help-2">商家加盟</a></dd>
            <dt>广知通权益</dt>
            <dd><a class="" href="/help-7">广知通特权与服务</a></dd>
            <dt>帮助中心</dt>
            <dd><a class="active" href="/help-5">常见问题</a></dd>
            <dt>使用指南</dt>
            <dd><a class="" href="/help-3">使用流程</a></dd>
            <dt>了解我们</dt>
            <dd><a class="" href="/help-1">关于我们</a></dd>
            <dt>服务条款</dt>
            <dd><a class="" href="/help-4">服务条款</a></dd>
            <dt>广知币介绍</dt>
            <dd><a class="" href="/help-6">广知币定义</a></dd>
            <dt>增值服务</dt>
            <dd><a class="" href="/help-8">置顶服务</a></dd>

        </dl>
    </div>
    <div class="help-right">
        <div>
            <h2 class="help-right-h2">常见问题</h2>
            <div class="help-right-box">
                <strong style="font-family: arial, 宋体; line-height: 30px;">1.订单已提交成功，什么时候可以发货？</strong><p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！订单提交成功后我们会尽快发货。欲查询详细进度，您可进入“个人中心—我的订单-订单详情”，可实时查看。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help1.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <h3 style="margin: 0px; padding: 20px 0px 5px; font-size: 12px; font-family: arial, 宋体; line-height: 30px;">2.买到的商品有质量问题，如何换货？</h3>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！当您所购商品遇到问题需要换货的时候，请按照如下步骤操作：</p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step1：先登录到网易保健品的“个人中心”，查看“我的订单”。找到相应的商品，点击“申请换货”。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help2.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step2：发起换货申请后，请您保持自己预留的联系方式通信畅通，我们的客服人员会通过您在个人中心留下的联系方式尽快联系您，并为您处理相关的换货事宜。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help3.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step3：如您长时间没有收到我们客服的联系，请注意查看自己“个人中心”的通知，或在我们页面顶部的“意见薄”留言。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help4.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <h3 style="margin: 0px; padding: 20px 0px 5px; font-size: 12px; font-family: arial, 宋体; line-height: 30px;">3.买到的商品有质量问题，如何退货？</h3>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！当您所购商品遇到问题需要退货的时候，请按照如下步骤操作：</p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step1：请您先登录到网易保健品的“个人中心”，在“我的订单”内找到相应订单，点击“申请退货”。特别提示：形同的商品同时购买多件，必须同时退回。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help5.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help6.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step2：发起换货申请后，请您保持自己预留的联系方式通信畅通，我们的客服人员会通过您在个人中心留下的联系方式尽快联系您，并为您处理相关的退货事宜。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help7.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">Step3：如您长时间没有收到我们客服的联系，请注意查看自己“个人中心”的通知，或在我们页面顶部的“意见薄”留言。</p>
                <h3 style="margin: 0px; padding: 20px 0px 5px; font-size: 12px; font-family: arial, 宋体; line-height: 30px;">4.怎么查看退换货的进度和详情？</h3>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！当您已经申请退换货后，登录到网易保健品的“个人中心”并查看我的订单，在我的退换货里面可以查看你的退换货进度和详情。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help8.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <h3 style="margin: 0px; padding: 20px 0px 5px; font-size: 12px; font-family: arial, 宋体; line-height: 30px;">5.网站上面显示商品已售完请问什么时候可以在到货？</h3>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！有关无货商品，我们会督促供应商尽快到货，您可以通过商品页面的“到货通知”功能获得商品到货提醒。</p>
                <p class="tc" style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align: center; font-family: arial, 宋体; line-height: 30px; background-image: none;">
                    <img src="http://img3.126.net/health/images/help/help9.jpg?20121122" style="border: 0px; vertical-align: middle;" width="550">
                </p>
                <h3 style="margin: 0px; padding: 20px 0px 5px; font-size: 12px; font-family: arial, 宋体; line-height: 30px;">6.快递运输覆盖范围及收费标准？</h3>
                <p style="margin-bottom: 0px; padding-right: 0px; padding-left: 0px; font-family: arial, 宋体; line-height: 30px;">您好！网易保健品商城全场免邮费，新疆、西藏等偏远地区我们会安排EMS等快递送达，但时间可能稍长，请耐心等待。港澳台地区的用户暂时不支持购买，请您见谅。</p>
            </div>
        </div>
    </div>
</div>
